<div class="app">
  <div class="app-header">
    <h2 class="app-welcome">Welcome to Dawn</h2>
  </div>
  <div class="app-intro">
    <img class="app-logo" alt="logo" width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <div>
      To get started, edit <code>src/app/app.component.ts</code> and save to reload.
    </div>
  </div>
  <ul class="app-links">
    <li><a href="https://alibaba.github.io/dawn/">Homepage</a></li>
    <li><a href="https://alibaba.github.io/dawn/docs">Documents</a></li>
    <li><a href="https://github.com/alibaba/dawn">Git Repo</a></li>
    <li><a href="https://github.com/alibaba/dawn/issues">Issues</a></li>
  </ul>
</div>
